<h1>Editing Warehouse Trasaction</h1>

<%= render 'form', warehouse_trasaction: @warehouse_trasaction %>

<%= link_to 'Show', @warehouse_trasaction %> |
<%= link_to 'Back', warehouse_trasactions_path %>
