<h1>اضافة حركة اصناف</h1>

<%= render 'form', warehouse_trasaction: @warehouse_trasaction %>

<div class="col-xs-2" style="float: left;">
            <%= link_to 'رجوع', warehouse_trasactions_path , class: "btn btn-primary btn-lg btn-block " %>
</div>