<h1>بيانات الموظف</h1>

<%= render 'form', employee_datum: @employee_datum %>


<div class="col-xs-2" style="float: left;">
      <%= link_to 'رجوع', employee_data_path , class: "btn btn-primary btn-lg btn-block " %>
</div>