<tbody>
      <tr class='nested-fields' >
<td><%= f.input :item2, label: false  , collection: ItemDate.all, value_method: :itemname, label_method: :itemname %></td>
<td><%= f.input :quantity2, label: false %></td>
<td><%= link_to_remove_association "remove task", f , class: "btn btn-primary"%></td>
</tr>
</tbody>
