<tbody>
            <tr class='nested-fields' >
      <td><%= f.text_field :item2, label: false  , collection: ItemDate.all, value_method: :id, label_method: :itemname %></td>
      <td><%= f.text_field :quantity2, label: false %></td>
      <td><%= link_to_remove_association "remove task", f , class: "btn btn-primary"%></td>
</tr>
</tbody>
