<h1>انشاء مشروع جديد</h1>

<%= render 'form', project: @project %>

<div class="col-xs-2" style="float: left;">
      <%= link_to 'رجوع', projects_path , class: "btn btn-primary btn-lg btn-block " %>
</div>


