
<%= render 'form', client_datum: @client_datum %>

      <div class="col-xs-2" style="float: left;">
            <%= link_to 'رجوع', client_data_path , class: "btn btn-primary btn-lg btn-block " %>
      </div>