<h1>اضافة بيانات مخزن</h1>

<%= render 'form', warehouse: @warehouse %>

<div class="col-xs-2" style="float: left;">
      <%= link_to 'رجوع', warehouses_path , class: "btn btn-primary btn-lg btn-block " %>
</div>
