<h1>اضافة بيانات الموقع</h1>

<%= render 'form', location: @location %>

<div class="col-xs-2" style="float: left;">
            <%= link_to 'رجوع', locations_path , class: "btn btn-primary btn-lg btn-block " %>
</div>

